<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login do usuário</title>
</head>
<body>
    <div class="topo">
        <div class="logo">
            <img src="logo-senac-cnc-color-100.png" alt="">
        </div>
    </div>
    <div class="body">
        <div class="conteudo">
        <form method="post" action="/login">
        <p><h2>Conecte-se na sua conta</h2></p>
        <p><label>E-mail:</label></p>
        <p><input type="email" id="email" name="email"></p>

        <p><label>Senha:</label></p>
        <p><input type="password" id="floatingInput" name="password" class="form-control"></p>

        <button type="button" class="btn btn-primary" type="submit">Entrar</button>

        <ul class="menu">
            <li><a href="cadastro.html">Ainda não possui conta? Cadastre aqui!</a></li>
        </ul>
</div>
</body>
</html>